<!-- Contact Section -->
<div class="w3-container w3-padding-64" id="contact">
  <h1>Contact</h1><br>
  <p>We offer full-service catering for any event, large or small. We understand your needs and we will cater the food
    to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.</p>
  <p class="w3-text-blue-grey w3-large"><b>Catering Service, 42nd Living St, 43043 New York, NY</b></p>
  <p>You can also contact us by phone 00553123-2323 or email catering@catering.com, or you can send us a message here:
  </p>
  <div class="container d-flex align-items justify-content-center">
    <div class="col-md-2">
      <h2 class="text-center">Contact Form</h2>

      <form (ngSubmit)="submitForm()" #contactForm="ngForm">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
        </div>
        <div class="form-group">
          <label for="organization">Organization:</label>
          <input type="text" id="organization" name="organization" [(ngModel)]="formData.organization">
        </div>
        <div class="form-group">
          <label for="help">How can we help you?</label>
          <textarea id="help" name="help" [(ngModel)]="formData.help"></textarea>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
        </div>
        <div class="form-group">
          <label for="phone">Phone Number:</label>
          <input type="tel" id="phone" name="phone" [(ngModel)]="formData.phone">
        </div>
        <button type="submit" [disabled]="!contactForm.valid" class="btn btn-primary">Contact</button>
      </form>
    </div>
  </div>
</div>

<!-- End page content -->