<div class="card text-center">
    <div class="card-header">
        ACERCA DE NOSOTROS
    </div>
    <div class="card-body">
      <h5 class="card-title">TECNIMAQUINAS DE COSER SAS.</h5>
      <p class="card-text">TECNIMAQUINAS DE COSER SAS. Surge a partir del conocimiento y la
        experiencia de su fundador, ALVARO A. VALLEJO M., que se inició como
        aprendiz de mecánica en los años 80´s en la ciudad de Cartagena, donde
        laboró como empleado de TECNIMAQUINAS DEL CARIBE. Atendiendo
        clientes del sector industrial de Mamonal en aquella época como: IFI-
        Concesión de salinas, Abocol, Ciba Geysi, Cia Harinera Industrial, Purina y
        muchas otras empresas que tenían líneas de ensacado y empaque de diferentes
        productos.</p>
      <p class="card-text">Desde hace más de veinte años regresó a la ciudad de Medellín,
        posicionándose y especializándose en la línea de cosedoras de sacos, en el año
        2004 crea TECNIMAQUINAS DE COSER para atender de una manera mas
        organizada a nuestros clientes, y en el año 2012 se convierte en
        TECNIMAQUINAS DE COSER S.A.S. , ahora hemos crecido y somos
        importadores directos de máquinas cosedoras de sacos, hilos y repuestos para
        las mismas.</p>
      <p class="card-text">Nuestros clientes son nuestra mejor referencia con calificaciones altas de
        satisfacción tanto por servicios prestados como por cumplimiento en entregas
        de repuestos e insumos.</p>
      <p class="card-text">Actualmente atendemos clientes a nivel nacional prestando servicio de
        mantenimiento, asesorías y capacitaciones en mantenimiento preventivo en
        plantas sistemas de costura automático y con personal calificado.</p>
      <a href="#" class="btn btn-primary">Ir al menú principal</a>
    </div>
  </div>
