<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TécniMaquinas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active"
            ariaCurrentWhenActive="page">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="active"
            ariaCurrentWhenActive="page">Servicios</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/machines" routerLinkActive="active"
            ariaCurrentWhenActive="page">Máquinas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
            ariaCurrentWhenActive="page" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/machines" >Maquinaria</a></li>
            <li><a class="dropdown-item" href="/parts" >Repuestos</a></li>
            <li><a class="dropdown-item" href="/bands" >Bandas transportadoras</a></li>
            <li><a class="dropdown-item" href="/supplies" >Pedestales</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="#" routerLinkActive="active">Otros</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">Acerca de
            nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contacto</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>