
<div class="container">
    <div>
        <h1>Máquinas</h1>
    </div>
    <div class="row">
        <div class="col-md-4 mx-auto my-5" *ngFor="let product of machines">
            <div class="card"  style="width: 18rem;">
                <img [src]="product.source" class="card-img-top" [alt]="product.name">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.shortDescription }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Fabricante: {{ product.trademark }}</li>
                  </ul>
                <div class="card-body">
                    <a [routerLink]="['/product']" [queryParams]="product" class="card-link">Veer más..</a>
                </div>
            </div>
        </div>
    </div>
</div>